# Environments
.venv/
uv.lock

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs & System
.vscode/
.DS_Store

# Build & Distribution
dist/
build/
*.egg-info/

# Project Specific Output & Data
dd_analysis_results/
dd_cleaner_results/
parser_run.log
*.log
tests/data/*.csv
tests/workspace_test/
**/quarantine/

*.signature
provisional_config.yaml

documents/archived/

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/proxieddb/
